PORT=<PORT_NUMBER>
PAGE_ACCESS_TOKEN=<PAGE_ACCESS_TOKEN>
VERIFY_TOKEN=<RANDOM_STRING_SUBMITTED_TO_THE_WEBHOOK>
APP_DB_CONNECTION=<MONGODB_CONNECTION_STRING>
PAGE_ID=<ID_OF_THE_PAGE_THE_BOT_INTERACTS_WITH>